@model WardVM
<div class="card mt-5 shadow border-0 rounded-3">

    <div class="card-header border-0 p-0 rounded-top-3 bg-primary p-4">
        <div class="text-center align-content-center">
            <h2 class="text-primary m-0 text-white">Edit Ward </h2>
        </div>
    </div>
    <div class="card-body">
        <form method="post">
            <input asp-for="Ward.WardId" hidden />
            <div class="mb-3">
                <label asp-for="Ward.Name" class="form-label"></label>
                <input asp-for="Ward.Name" class="form-control p-2" placeholder="Enter Ward Name">
            </div>

            <div class="mb-3">
                <label asp-for="Ward.DistrictId" class="form-label">District Name</label>
                <select asp-for="Ward.DistrictId" asp-items="Model.Districts" class="form-control p-2">
                    <option disabled selected>--Select District--</option>
                </select>
            </div>

            @* Display error *@
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row mt-4">
                <div class="col-6 col-md-4">
                    <button type="submit" class="btn btn-primary form-control">
                        Edit
                    </button>
                </div>
                <div class="col-6 col-md-4">
                    <a asp-controller="Ward" asp-action="Index" class="btn btn-outline-secondary form-control">Back To List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}